# this supports JTAG-HS2 (and apparently Nexys4 as well)

interface ftdi
ftdi_device_desc "Digilent USB Device"
ftdi_vid_pid 0x0403 0x6014

ftdi_channel 0
ftdi_layout_init 0x00e8 0x60eb

reset_config none

# These are the settings I would expect to work well
#ftdi_tdo_sample_edge falling
#adapter_khz 30000

# These are the settings that actually do
adapter_khz 28000
